/* Header */
header {
    width: 100%;
    min-height: 400px;
    padding-top: 3em;
}
#home header {
    background: no-repeat center center lightgrey url(images/cliff_ocean.jpg);
    background-size: cover;
}
.main-header {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    margin: 2em auto 0 auto;
    min-height: 100px;
    padding: 0 1rem;
}
@media (min-width: 992px) {
    .main-header {
        max-width: 700px;
    }
}
.main-header .logo img,
.main-header.navbar-brand .logo img {
    width: 100px;
    height: 100px;
    margin: 0 2em 0 0;
}
.main-header .navbar-brand {
    padding: 0;
    margin-right: 0;
}

/* Navigation */
.main-menu {
    font-weight: 400;
}
.main-menu .navbar-nav .nav-item {
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    text-transform: uppercase;
    font-size: 14px;
}
.main-menu .navbar-nav .nav-item:first-child {
    border-left: none;
}
.main-menu .nav-link {
    color: #888;
    line-height: 100px;
    padding-top: 0;
    padding-bottom: 0;
}
.main-menu .nav-link:hover {
    color: #9ed034;
}
.main-menu .nav-item.active .nav-link {
    color: #fff;
}
.main-menu .nav-item.active {
    background: #9ed034;
}

/* Main */
main {
    padding: 3em 6em 3em 5.5em;
    margin: 2em 0;
    font-family:Arial, Helvetica, sans-serif;
}
main h1 {
    font-size: 2.5em;
    padding-bottom: 0.5em;
    color: #9ed034;
}
main h2 {
    font-size: 1.7em;
}

/* Partners */
section {
    width: 100%;
    background-color: #4288C3;
}
section #partners {
    padding: 2em 0;
    text-align: center;
}
section #partners .partner-wrapper {
    margin-bottom: 1em;
}
section #partners .partner {
    display: inline-block;
    margin: 0 auto;
    padding: 1.3em 1.5em;
    background-color: #fff;
    border-radius: 50%;
}
section #partners .partner img {
    width: 90px;
    height: 90px;
}
@media (min-width: 992px) {
    section #partners .partner-wrapper {
        margin-bottom: 0;
    }
}

/* Footer */
footer {
    width: 100%;
    height: 155px;
    padding-bottom: 1em;
    background-color: #ecfab8;
}
footer #nondisclaimer .copy {
    padding: 3.5em 3.5em 3.5em 13em;
    float: left;
    font-size: 0.9em;
}
footer #nondisclaimer .social {
    padding: 2.5em;
    margin-right: 9.25em;
    float: right;
}
footer #disclaimer {
    clear: both;
}

footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
}
footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook {
    background: #3B5998;
    color: white;
}
    
footer #nondisclaimer .social .fa-twitter {
    background: #55ACEE;
    color: white;
}

footer #nondisclaimer .social .fa-instagram {
    background: #125688;
    color: white;
}

/* RWD: navbar collapse and footer (breakpoint large and below) */
@media (max-width: 991px) {
    .main-header .logo img,
    .main-header .navbar-brand img {
        position: relative;
        bottom: 8px;
        width: 80px;
        height: 80px;
    }
    .main-menu .navbar-nav .nav-item {
        border-left: none;
        border-bottom: 1px solid rgba(202, 204, 202, 0.6);
        padding: 0.5rem 1rem;
    }
    .main-menu .nav-link {
        line-height: 1.5;
    }
    main {
        padding: 3em 1em;
        margin: 0;
    }
}

@media (max-width: 768px) {
    footer #nondisclaimer .copy {
        padding: 3.5em 1em;
        text-align: center;
        float: none;
        font-size: 0.9em;
    }
    footer #nondisclaimer .social {
        padding: 2.5em 0;
        margin: 0;
        text-align: center;
        float: none;
    }
}